spring:
  application:
    name: '@project.artifactId@'
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: 'sa'
    password: '123456'
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

application:
  api:
    path: '/api/v1/employees'

server:
  port: 8081
  error:
    include-message: always

logging.level:
  com.example.codechallenge: TRACE